<centered>
  <h1 id="title">ember-math-helpers</h1>
</centered>

<centered>
  <p>Just a simple addon for doing basic arithmetic operations with Ember and HTMLBars</p>
</centered>

<centered>
  1 + 2 = {{add 1 2}}
</centered>

<centered>
  20 / 10 = {{div 20 10}}
</centered>

<centered>
  11 % 10 = {{mod 11 10}}
</centered>

<centered>
  6 * 6 = {{mult 6 6}}
</centered>

<centered>
  10 - 2 = {{sub 10 2}}
</centered>

<centered>
  10 - 1 - 2 - 3 = {{sub 10 1 2 3}}
</centered>

<centered>
  (15 + 5) / 2 * 10 = {{mult (div (add 15 5) 2) 10}}
</centered>

<centered>
  Minimum of array: [2, 3, 5, 3, 26, 7, 123] = {{min 2 3 5 3 26 7 123}}
</centered>

<centered>
  Maximum of array: [5, 2, 134, 125, 1234, 5234, 2] = {{max 5 2 134 125 1234 5234 2}}
</centered>
