<centered>
  <h1 id="title"><span class="pacifico">ember</span> math-helpers</h1>
</centered>

<centered>
  <p>Just a simple addon for doing basic arithmetic operations with Ember and HTMLBars</p>
</centered>

<box>
  <centered>
    <h3>Basic Arithmetic</h3>
  </centered>

  <centered>
    {{input type="text" value=addTemplate}}
    = <span class="result">{{render-template templateString=addTemplate}}</span>
  </centered>

  <centered>
    {{input type="text" value=divTemplate}}
    = <span class="result">{{render-template templateString=divTemplate}}</span>
  </centered>

  <centered>
    {{input type="text" value=modTemplate}}
    = <span class="result">{{render-template templateString=modTemplate}}</span>
  </centered>

  <centered>
    {{input type="text" value=multTemplate}}
    = <span class="result">{{render-template templateString=multTemplate}}</span>
  </centered>

  <centered>
    {{input type="text" value=subTemplate}}
    = <span class="result">{{render-template templateString=subTemplate}}</span>
  </centered>
</box>

<box>
  <centered>
    <h3>Advanced Arithmetic</h3>
  </centered>

  <centered>
    {{input type="text" value=gcdTemplate}}
    = <span class="result">{{render-template templateString=gcdTemplate}}</span>
  </centered>
</box>

<box>
  <centered>
    <h3>Composable Examples</h3>
  </centered>
  <centered>
    {{input type="text" value=composableSub}}
    = <span class="result">{{render-template templateString=composableSub}}</span>
  </centered>

  <centered>
    {{input type="text" value=composableComplex}}
    = <span class="result">{{render-template templateString=composableComplex}}</span>
  </centered>
</box>

<box>
  <centered>
    <h3>Min, Max, Round</h3>
  </centered>
  <centered>
    Minimum of array: [2, 3, 5, 3, 26, 7, 123] = <span class="result">{{min 2 3 5 3 26 7 123}}</span>
  </centered>

  <centered>
    Maximum of array: [5, 2, 134, 125, 1234, 5234, 2] = <span class="result">{{max 5 2 134 125 1234 5234 2}}</span>
  </centered>

  <centered>
    21.23 rounded to the nearest whole number = <span class="result">{{round 21.23}}</span>
  </centered>
</box>

<box>
  <centered>
    <h3>Random Numbers</h3>
  </centered>

  <centered>
    <ul class="category-list">
      <centered>
        <li>Integer (0 - 1): <span class="result">{{random}}</span></li>
      </centered>
      <centered>
        <li>Bounded Int (0 - 42): <span class="result">{{random 42}}</span></li>
      </centered>
      <centered>
        <li>Bounded Int (21 - 1797): <span class="result">{{random 21 1797}}</span></li>
      </centered>
      <centered>
        <li>Float, 2 decimals (0 - 1): <span class="result">{{random decimals=2}}</span></li>
      </centered>
      <centered>
        <li>Float, 4 decimals (0 - 1): <span class="result">{{random decimals=4}}</span></li>
      </centered>
      <centered>
        <li>Bounded Float, 1 decimal (20 - 93): <span class="result">{{random 93 20 decimals=1}}</span></li>
      </centered>
    </ul>
  </centered>
</box>