<h2 id="title">ember-math-helpers</h2>

<div>
  1 + 2 = {{add 1 2}}
</div>

<div>
  20 / 10 = {{div 20 10}}
</div>

<div>
  11 % 10 = {{mod 11 10}}
</div>

<div>
  6 * 6 = {{mult 6 6}}
</div>

<div>
  10 - 2 = {{sub 10 2}}
</div>

<div>
  10 - 1 - 2 - 3 = {{sub 10 1 2 3}}
</div>


